.banner-mini {
  position: relative;
  height: 300px;
  display: flex;
  align-items: center;
  background-image: url('https://cdn.midjourney.com/4627b474-2318-491e-b8cc-8b76ac2a4ffe/0_0.png');
  background-size: cover;
  background-position: center;
}

.overlay {
  position: absolute;
  top: 0; left: 0; width: 100%; height: 100%;
  background: rgba(18, 18, 18, 0.85);
}

.contenido {
  position: relative;
  z-index: 2;
  color: white;
  width: 100%;
}

h1 {
  font-size: 3rem;
  font-weight: 800;
  margin: 0;
  text-transform: uppercase;
}

.subtitulo {
  color: var(--color-amarillo-aviso, #ffd740);
  font-weight: 700;
  letter-spacing: 2px;
  font-size: 0.8rem;
  display: block;
  margin-bottom: 0.5rem;
  text-transform: uppercase;
}

.texto-rojo {
  color: var(--color-rojo-fuego, #d32f2f);
}
